
# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'jfoforjorgighiti90p489086456ojgr'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True or False


DB_NAME=db.exemple
DB_USER=exemple_mapiss
DB_PASSWORD=exemple_db_test
DB_HOST=localhost
DB_PORT=5434


EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_USE_TLS = True
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = 'email@gmail.com'
EMAIL_HOST_PASSWORD = 'passsword'
EMAIL_PORT = 587