.categories-pages {
    .categories-content {
        width: 70%;
        margin: 0 auto;
        padding: 10px;

        @media screen and (max-width: 1670px) {
            width: 80%;
        }

        @media screen and (max-width: 1458px) {
            width: 90%;
        }

        @media screen and (max-width: 1300px) {
            width: 95%;
        }

        @media screen and (max-width: 1000px) {
            width: 93%;
        }

        h2 {
            font-size: 30px;
            font-weight: 500;

            &::first-letter {
                text-transform: uppercase;
            }
        }

        .sort {
            position: relative;

            button {
                background: $black-1;
                display: flex;
                align-items: center;
                color: white;
                gap: 20px;
                padding: 0 7px;
                display: block;
                transition: 0.1s;

                &:hover {
                    opacity: 0.9;
                }

                span {
                    font-size: 0.8rem;
                    font-weight: 500;
                }

                .icon {
                    margin-left: 5px;
                    margin-top: 2px;
                }
            }

            .sort-container {
                position: absolute;
                margin-top: 10px;
                width: 215px;
                border: 1px solid rgba(0, 0, 0, 0);
                background: white;
                border-radius: 4px;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                z-index: 100;

                .diviser {
                    height: 1px;
                    width: 100%;
                    background: $gray-2;
                }

                h3 {
                    margin: 10px 0;
                    padding: 0 7px;
                    margin-left: 5%;
                    font-size: 0.9rem;
                    font-weight: 600;
                }

                ul {
                    padding: 7px 0;
                    margin: 0;
                    width: 90%;
                    margin: 0 auto;

                    li {
                        padding: 5px 7px;
                        border-radius: 5px;
                        transition: 0.2s;
                        font-size: 0.9rem;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        cursor: pointer;

                        &.active {
                            background: rgba(0, 0, 0, 0.055);
                            font-weight: bold;
                        }

                        &:hover {
                            background: rgba(0, 0, 0, 0.055);
                        }

                    }
                }

            }
        }
    }

    .products-container {
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;


        @media screen and (max-width: 1670px) {
            width: 80%;
        }


        @media screen and (max-width: 1458px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 90%;
        }

        @media screen and (max-width: 1300px) {
            width: 95%;
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media screen and (max-width: 780px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: 531px) {
            grid-template-columns: 1fr;
        }
    }
}